@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@font-face {
  font-family: 'Woodford Bourne';
  src: url("fonts/Woodford Bourne/Web/Woodford Bourne Regular-Webfont/Webfonts/woodfordbourne_regular_macroman/woodfordbourne-regular-webfont.eot");
  src: url("fonts/Woodford Bourne/Web/Woodford Bourne Regular-Webfont/Webfonts/woodfordbourne_regular_macroman/woodfordbourne-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/Woodford Bourne/Web/Woodford Bourne Regular-Webfont/Webfonts/woodfordbourne_regular_macroman/woodfordbourne-regular-webfont.woff2") format("woff2"), url("fonts/Woodford Bourne/Web/Woodford Bourne Regular-Webfont/Webfonts/woodfordbourne_regular_macroman/woodfordbourne-regular-webfont.woff") format("woff"), url("fonts/Woodford Bourne/Web/Woodford Bourne Regular-Webfont/Webfonts/woodfordbourne_regular_macroman/woodfordbourne-regular-webfont.ttf") format("truetype"), url("fonts/Woodford Bourne/Web/Woodford Bourne Regular-Webfont/Webfonts/woodfordbourne_regular_macroman/woodfordbourne-regular-webfont.svg#woodford_bourneregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Woodford Bourne';
  src: url("fonts/Woodford Bourne/Web/Woodford Bourne Bold-Webfont/Webfonts/woodfordbourne_bold_macroman/woodfordbourne-bold-webfont.eot");
  src: url("fonts/Woodford Bourne/Web/Woodford Bourne Bold-Webfont/Webfonts/woodfordbourne_bold_macroman/woodfordbourne-bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/Woodford Bourne/Web/Woodford Bourne Bold-Webfont/Webfonts/woodfordbourne_bold_macroman/woodfordbourne-bold-webfont.woff2") format("woff2"), url("fonts/Woodford Bourne/Web/Woodford Bourne Bold-Webfont/Webfonts/woodfordbourne_bold_macroman/woodfordbourne-bold-webfont.woff") format("woff"), url("fonts/Woodford Bourne/Web/Woodford Bourne Bold-Webfont/Webfonts/woodfordbourne_bold_macroman/woodfordbourne-bold-webfont.ttf") format("truetype"), url("fonts/Woodford Bourne/Web/Woodford Bourne Bold-Webfont/Webfonts/woodfordbourne_bold_macroman/woodfordbourne-bold-webfont.svg#woodford_bournebold") format("svg");
  font-weight: bold;
  font-style: normal; }
body {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  background-color: #FCFCFD;
  border: 20px solid #4C5994;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 320px; }

.wrapper {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px; }

h1 {
  font-family: "Woodford Bourne", sans-serif;
  font-weight: bold; }

p {
  font-family: "Open Sans", sans-serif; }

a {
  color: black; }

.greeting__hello {
  padding: 0 0 10px 0;
  font-size: 50px; }

.greeting__intro {
  line-height: 24px; }

.prototypes__link {
  padding: 10px 20px;
  border-radius: 2px;
  text-decoration: none;
  box-sizing: border-box;
  border: 2px solid #4C5994;
  font-family: "Woodford Bourne", sans-serif;
  font-weight: normal;
  display: inline-block; }

.prototypes {
  padding: 20px 0; }

.prototypes__link--normal {
  background-color: #4C5994;
  color: #FCFCFD; }

.prototypes__link--inverse {
  color: #4C5994;
  margin-left: 20px; }

@media (max-width: 430px) {
  .prototypes {
    text-align: center; }

  .prototypes__link {
    display: inline-block;
    margin-bottom: 20px;
    width: 170px; }

  .prototypes__link--inverse {
    color: #4C5994;
    margin-left: 0; } }

/*# sourceMappingURL=main.css.map */
